<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MeetUp2</a>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li *ngIf="loggedIn" class="nav-item">
        <a class="nav-link" href="#">Friends</a>
      </li>
      <li *ngIf="loggedIn" class="nav-item">
        <a class="nav-link" href="#">Lists</a>
      </li>
      <li *ngIf="loggedIn" class="nav-item">
        <a class="nav-link" href="#">Messages</a>
      </li>
    </ul>
    <form #loginForn="ngForm" class="d-flex" role="search" (ngSubmit)="login()" autocomplete="off">
      <input name="username" [(ngModel)]="model.username" class="form-control me-2" type="text" placeholder="Username">
      <input name="password" [(ngModel)]="model.password" class="form-control me-2" type="password"
        placeholder="Password">
      <button class="btn btn-outline-success" type="submit">Login</button>
    </form>
  </div>
</nav>